<div class="jumbotron">
  <h1>My Instances</h1>
  <pre>List of user donated instances</pre>
 
</div>
 <h4 *ngIf="auth.isAuthenticated()">
    <div *ngFor="let instance of userInstances">
      <h1> {{instance.name}}</h1>
      <span class="badge">{{instance.id | uppercase}}</span>
      <h5> Operating System : {{instance.os}}</h5>
      <h5> Private IP : {{instance.privateIP}}</h5>
      <h5> Public IP : {{instance.publicIP}}</h5>
      <h5> Credits : {{instance.credits | currency}}</h5>
      <h5> RAM : {{instance.ram}}</h5>
      <h5> DiskSpace : {{instance.diskSpace}}</h5>
      <h5> Current Status: {{instance.status}}</h5>
      <pre class="full-profile"> Other info: {{instance.info | json}}</pre>
       
    </div>
  </h4>
<!-- 
{
        "_entityName": "vertico$Instance",
        "_instanceName": "ajay, Active , 18GB  , 1000TB, i7",
        "id": "51039f5d-d717-5405-8311-afefa59682fe",
        "os": "macos",
        "privateIP": "1.2.2.2.2",
        "cpu": "i7",
        "publicIP": "12.2.2.2.2",
        "version": 1,
        "credits": 1000,
        "diskSpace": "1000TB",
        "name": "ajay",
        "ram": "18GB",
        "status": "ACTIVE",
        "info": "test"
    } -->