<nav class="navbar navbar-default">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Vertico Cloud</a>
     <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a *ngIf="auth.isAuthenticated()" routerLink="/profile">Profile </a></li>
        <li><a *ngIf="auth.isAuthenticated()" routerLink="/instances">instances</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Sign in or Sign up</a></li>
        <li  *ngIf="auth.isAuthenticated()" (click)="auth.logout()"><a> <span class="glyphicon glyphicon-off" aria-hidden="true"></span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>