<div class="jumbotron">
  <h1>Vertico Cloud</h1>
  <p>CS595 Experiment </p>
  <p><a class="btn btn-primary btn-lg" href="https://github.com/iitc" role="button">
      <span class="glyphicon glyphicon-book glyphicon" aria-hidden="true"></span>
    read the docs ... </a></p>
  <h4 *ngIf="auth.isAuthenticated()">
    You are logged in! You can now view your <a routerLink="/profile">profile area</a>.
  </h4>
  <h4 *ngIf="!auth.isAuthenticated()">
    You are not logged in! Please <a (click)="auth.login()">Log In</a> to continue.
  </h4>
</div> 